body{
    margin: 0;
    padding: 0;
    background: radial-gradient(rgb(13, 1, 58),black);
}
/**NAV BAR CSS START**/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 70px;
    color: #1cdd26;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /**NAV BAR CSS END HERE**/

  
  .contant {
    text-align: center;
    align-items: center;
}
.arrow {
    width: 65px;
    display: inline;
}
.hed {
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 34px;
    color: rgb(239, 253, 46);
}
#main {
    color: aqua;
    font-size: 46px;
    display: inherit;
}
.lasttext {
    text-align: left;
    text-transform: capitalize;
    color: #fff;
}
.lasttext {
    margin-left: 73px;
}
span{
    color: rgb(9, 177, 243);
}
.hed:hover{
background-color:yellow;
color:black;
font-size:42px;
}